body {
    font-family: Helvetica, sans-serif;
   /* position:relative;*/
    text-align: center;
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   /* background-color: #FFF0A5;*/

}

/* header, nav, main, footer {
    padding: 1em 0;
} */
header{
  font-size: 30px;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
#logo {
   /* border: 1px solid yellow;*/
    height: 100%;
    width: auto;
    float: left;
    
}

header {
    /*border: 1px solid red;*/
     background-color: #f1790f; 
    text-align: center;
    height: 10vh; 
}

#divCentral {
    /* display: flex; */
	justify-content: space-between;
	align-items: stretch;
    margin: auto;
	box-sizing: border-box;
	height: 100%;
}

nav {
    padding: 2px 16px;
}
nav ul li a:hover{
	text-decoration: none;
    color: #B64926
}
nav ul li a {
    padding: 1em; 
    text-transform: uppercase;
    /*font-weight: 300;*/
    font-size:  1,5vw;
    letter-spacing: -0,05em;
    color :#468966;
}
nav ul li{
    display: inline-block;
    height: 5px;
}
nav ul{
    clear:both; 
    width:100%;
    text-align: center;
    padding:0;
   
}
/* TODO : centrer les boutons */
.pic{
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  margin-left : 20px;
}
.pic img {
    width: 100%;
    height: 100% ;
   object-fit: cover;
}

main {
  /*  border: 1px solid green;*/
    padding-left: 3em;
    flex : 10;
 padding-left: 3em;
background-color: #E6FAEF; 
text-align: justify;
margin: 1em;
}

  .content {
    margin-right: 20px; 
  }
footer {
  /*  border: 1px solid black;*/
	display: flex; 
	justify-content: space-around;
    /* background-color: #669933; */
}

/*.fond-jaune {
	background-color: yellow;
}*/
